pre{
	font-size : 15px; 
	background : lightgreen; 
	border : 3px double red; 
	padding : 10px;
	border-left : 10px solid black;
}

div{
		border : 2px solid green;
		padding : 5px;
		margin : 5px;
		width : 60%;
}

span{
	color : red;
	background : black;
}
